<img src="images/usm.jpg" width="480" height="240" align="left"/>

# MAT281 - Laboratorio N°03

## Objetivos de la clase

* Reforzar los conceptos básicos de pandas.

## Contenidos

* [Problema 01](#p1)

## Problema 01


<img src="https://imagenes.universia.net/gc/net/images/practicas-empleo/p/pr/pro/profesiones-con-el-avance-de-la-tecnologia.jpg" width="480" height="360" align="center"/>


EL conjunto de datos se denomina `ocupation.csv`, el cual contiene información tal como: edad ,sexo, profesión, etc.

Lo primero es cargar el conjunto de datos y ver las primeras filas que lo componen:

In [1]:
import pandas as pd
import os

In [2]:
# cargar datos
df = pd.read_csv(os.path.join("data","ocupation.csv"), sep="|").set_index('user_id')
df.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

El objetivo es tratar de obtener la mayor información posible de este conjunto de datos. Para cumplir este objetivo debe resolver las siguientes problemáticas:

1. ¿Cuál es el número de observaciones en el conjunto de datos?

In [3]:
df.shape[0]

943

2. ¿Cuál es el número de columnas en el conjunto de datos?

In [4]:
df.shape[1]

4

3. Imprime el nombre de todas las columnas

In [82]:
print('Los nombres de las columnas son ' + str(list(df.columns)))

Los nombres de las columnas son ['age', 'gender', 'occupation', 'zip_code']

4. Imprima el índice del dataframe

In [11]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

5. ¿Cuál es el tipo de datos de cada columna?

In [80]:
print('El tipo de datos de cada columna es:')
print(df.dtypes)

El tipo de datos de cada columna es:
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

6. Resumir el conjunto de datos

In [36]:
df.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

7. Resume conjunto de datos  con todas las columnas

In [42]:
df.describe(include = 'all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

8. Imprimir solo la columna de **occupation**.

In [33]:
df['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

9. ¿Cuántas ocupaciones diferentes hay en este conjunto de datos?

In [79]:
print('Existen {} ocupaciones diferentes'.format(len(df['occupation'].unique())))

Existen 21 ocupaciones diferentes

10. ¿Cuál es la ocupación más frecuente?

In [89]:
ocupacion = df['occupation']
unicos = list(ocupacion.unique()) #lista con ocupaciones diferentes
maximo = 0
mayor_ocurrencia = []
for i in range(len(unicos)):
    if(list(ocupacion).count(unicos[i]) >= maximo):  #transformo el dataframe con ocupaciones a lista, cuento distintos
                                                    #elementos y comparo con valor maximo
        maximo = list(ocupacion).count(unicos[i])  #cambio valor maximo
        mayor_ocurrencia = [unicos[i]] #como se encontró un nuevo valor maximo transformo mi lista a la del valor maximo
    elif(list(ocupacion).count(unicos[i]) == maximo):  # si el valor se repite la misma cantidad de veces agrego a lista
        mayor_ocurrencia.append(unicos[i])

print('La ocupacion mas frecuente es {} con una frecuencia de {} '.format(mayor_ocurrencia, maximo))

La ocupacion mas frecuente es ['student'] con una frecuencia de 196

11. ¿Cuál es la edad media de los usuarios?

In [77]:
print('La edad media es de ' + str(df['age'].mean()))

La edad media es de 34.05196182396607

12. ¿Cuál es la edad con menos ocurrencia?

In [88]:
edad = df['age']
unicos = list(edad.unique())
minimo = 1000000
menor_ocurrencia = []
for i in range(len(unicos)):
    if(list(edad).count(unicos[i]) < minimo):  #transformo el dataframe con ocupaciones a lista, cuento distintos
                                                 #elementos y comparo con valor minimo
        minimo = list(edad).count(unicos[i])  #cambio valor minimo
        menor_ocurrencia = [unicos[i]]  #como se encontró un nuevo valor maximo transformo mi lista a la del valor minimo
    elif(list(edad).count(unicos[i]) == minimo):  # si el valor se repite la misma cantidad de veces agrego a lista
        menor_ocurrencia.append(unicos[i])

print('Las edades con menor ocurrencia son {} con una ocurrencia igual a {}'.format(menor_ocurrencia, minimo))

Las edades con menor ocurrencia son [7, 66, 11, 10, 73] con una ocurrencia igual a 1